<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longway.elabels">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.write_external_storage" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <meta-data
            android:name="com.longway.framework.core.imageLoader.GlideConfiguration"
            android:value="GlideModule"></meta-data>

        <service
            android:name="com.longway.framework.core.log.LogService"
            android:description="@string/log_service"></service>
        <service
            android:name="com.longway.framework.version.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>
